[package]
name = "common"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
toml = { workspace = true }
thiserror = { workspace = true }
