[package]
name = "common"
version.workspace = true
edition.workspace = true

[dependencies]
serde = { workspace = true }
toml = { workspace = true }
zeroize = { workspace = true }
thiserror = { workspace = true }
